body {
  background-color: white;
  }
ul {
  display: ;
  list-style-type: none;
  padding: 15px;
  overflow: hidden;
  background-color: #4CAF50;
  width: 99%;
  font-size: 20px;
}

li {
  float: down;
}

li a, .dropbtn {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: yellow;
}

li.dropdown {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}
div.gallery {
  background-color: white;
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
.v:after {
    content: "";
	display: flex;
	clear: both;
  } 
.header {
  display: ;
  background-color: Lime;
  padding: 15px;
  text-align: left;
  height: 100px;
  width: 99%;
}
.header img {
  width: 120px;
  height: 100%;
  }
.b {
  display: flex;
  width: 99%;
  height: auto;
  padding: 15px;
  background-color: green;
  text-align: center;
  margin-top: 5px;
}  
.n {
  display: none;
  }
.footer {
  display: flex;
  float: top;
  padding: 15px;
  background-color: #4CAF50;
  margin-top: 5px;
  width: 99%;
}

  @media screen and (min-width: 1000px) {
ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #4CAF50;
  width: 100%;
  font-size: 20px;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: yellow;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}
div.gallery {
  background-color: white;
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
  height: 200px;
}
.v:after {
    content: "";
	display: table;
	clear: both;
  } 
.header {
  display: flex;
  background-color: Lime;
  padding: 15px;
  text-align: left;
  height: ;
  width: 97.5%;
}
.header img {
  height: 100%;
  width: 120px;
  }
.b {
  display: block;
  float: right;
  width: 66.66%;
  height: auto;
  padding: 15px;
  background-color: green;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}  
.n {
  display: block;
  color: black;
  float: left;
  width: 25%;
  height: auto;
  padding: 15px;
  background-color: green;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 30px;
}  

	
.footer {
  display: flex;
  float: down;
  padding: 15px;
  background-color: #4CAF50;
  width: 97.5%;
  margin-top: 30px;
}
}